@inject NavigationManager Nav

<nav class="navbar-limnos">
    <a class="navbar-brand" href="/">
        &#127958; Limnos Apartments
    </a>

    <ul class="navbar-links">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/apartments">Apartments</NavLink></li>
        <li><NavLink href="/blog">Blog</NavLink></li>
        <li><a href="/admin" class="navbar-admin-btn">Admin</a></li>
    </ul>
</nav>
